* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  &__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modal {
    width: 60rem;
    min-width: 0;
  }
}