:root {
    --bg-color: #181818;
    --modal-window-bg-color: #262626;
    --divider-color: #363636;
    --border-color: #585858;
    --text-bright-color: #F6F6F6;
    --text-dark-color: #BFBFBF;
    --icon-color: #BFBFBF;
    --wrapper-border-radius: 3.5rem;
    --button-border-radius: 1rem;
}